
{% load static %}

<!-- style and fonts -->


<script src="{% static '/nik_files/jquery-2.2.4.min.js.download' %}"></script>
<script src="{% static '/nik_files/popper.min.js.download' %}"></script>
<script src="{% static '/nik_files/bootstrap.min.js.download' %}"></script>
<script src="{% static '/nik_files/js' %}"></script>
<script src="{% static '/nik_files/easing.min.js.download' %}"></script>
<script src="{% static '/nik_files/hoverIntent.js.download' %}"></script>
<script src="{% static '/nik_files/superfish.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.ajaxchimp.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.magnific-popup.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.tabs.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.nice-select.min.js.download' %}"></script>
<script src="{% static '/nik_files/isotope.pkgd.min.js.download' %}"></script>
<script src="{% static '/nik_files/waypoints.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.counterup.min.js.download' %}"></script>
<script src="{% static '/nik_files/simple-skillbar.js.download' %}"></script>
<script src="{% static '/nik_files/owl.carousel.min.js.download' %}"></script>
<script src="{% static '/nik_files/mail-script.js.download' %}"></script>
<script src="{% static '/nik_files/scroll.js.download' %}"></script>
<script src="{% static '/nik_files/main.js.download' %}"></script>
