{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}


{% block title %} Portfolio {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}



{% load plotly_dash %}
<br><br><br>

{% if user.is_authenticated %}

<div>
    <a class="logout-bttn primary-border" href="{% url 'logout' %}">Logout</a>
    </div>
<h1 style="text-align: center;">Dashboard</h1>



<div class="{% plotly_class name='SimpleExample1' %} card">
    {% plotly_app name='SimpleExample1' ratio=0.90 %}
    
    </div>

<br>

<!-- Login or signup -->
{% else %}
<div class="login-text-area">

<!-- <a href="{% url 'signup' %}">Sign Up</a> -->
<h6>You are not logged in, Please 

<a href="{% url 'login' %}" ">Login</a></h6>
</div>
{% endif %}




<!-- contens area -->



  <!-- start footer Area -->

  {% include "includes/footer.html" %}

  <!-- End footer Area -->

   <!-- Include script -->
   {% include "includes/scripts.html" %}


{% endblock content %}
