{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}


{% block title %} Portfolio {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}



  
       <!-- start banner Area -->
       <section class="about-banner">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Portfolio
              </h1>
              <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href=""> Portfolio</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->



<!-- contens area -->



  <!-- start footer Area -->

  {% include "includes/footer.html" %}

  <!-- End footer Area -->

   <!-- Include script -->
   {% include "includes/scripts.html" %}


{% endblock content %}
