{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}


{% block title %} Portfolio {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}



  
       <!-- start banner Area -->
       <section class="about-banner">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Portfolio
              </h1>
              <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href=""> Portfolio</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->

      <!-- portfolio content-->

      <div class="container-fluid">
        <div class="card" style="text-align: align-self: auto;margin: 40px;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h3>Customer Propensity Model</h3><p>Code:GitHub | Dataset: Kaggle</p></li>
            <li class="list-group-item"><h3>Recommandation System</h3><p>Code:GitHub | Dataset: Kaggle</p></li> 
            <li class="list-group-item"><h3>Metric Forecasting</h3><p>Code:GitHub | Dataset: Kaggle</p></li>
            <li class="list-group-item"><h3>Deep Dive Anaysis</h3><p>Code:GitHub | Dataset: Kaggle</p></li>
            <li class="list-group-item"><h3>Customer Segmentation</h3><p>Code:GitHub | Dataset: Kaggle</p></li>
          </ul>
        </div>
      </div>


<!-- contens area -->



  <!-- start footer Area -->

  {% include "includes/footer.html" %}

  <!-- End footer Area -->

   


{% endblock content %}
