
</html><!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static '/nik_files/linearicons.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/bootstrap.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/nice-select.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/animate.min.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/main.css' %}">
<body>
    <header id="header">
        <div class="container main-menu">
          <div class="row align-items-center justify-content-between d-flex">
            <div class id="logo">
              <a href="/">
                <h3>Nikhil.J</h3>
              </a>
            </div>
            <nav id="nav-menu-container">
              <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                <li><a href="/">Home</a></li>
                <li><a href="/about-me/">About</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/projects/">Projects</a></li>

                <li><a href="{% static '/nik_files/Nikhil_Resume.pdf' %}" class="genric-btn primary-border circle"
                    target="_blank">Resume</a></li>
              </ul>
            </nav><!-- #nav-menu-container -->
          </div>
        </div>
      </header>
       <!-- start banner Area -->
    <section class="about-banner">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Projects
              </h1>
              <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href=""> Projects</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->
      <div>
        {% if user.is_authenticated %}
            <a class="logout-bttn primary-border" href="{% url 'logout' %}">Logout</a>
            </div>

      <!-- content -->
      <section class="services-area section-gap">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
              <div class="title text-center">
                <h1 class="mb-10">My Projects</h1>
                <p> Take a look at some of my projects I  worked on.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-services">
                <span class="lnr lnr-rocket"></span>
                <a>
                  <h4>Mask</h4>
                </a>
                <p>
                  Did you weared mask properly???
                </p>
              </div>
            </div>
    
    
    
            <div class="col-lg-4 col-md-6">
              <div class="single-services">
                <span class="lnr lnr-dice"></span>
                <a>
                  <h4>Face recogniton</h4>
                </a>
                <p>
                  identify the mollywood actors???
                </p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6">
              <div class="single-services">
                <span class="lnr lnr-chart-bars"></span>
                <a>
                  <h4>Data Analytics</h4>
                </a>
                <p>
                Visualize your data
                </p>
              </div>
            </div>
    
    
            <div class="col-lg-4 col-md-6">
              <div class="single-services">
                <a href="/covid-dashboard/">
                <span class="lnr lnr-bug"></span></a>
                <a href="/covid-dashboard/">
                  <h4>Covid-19</h4>
                </a>
                <p>
                  A small dashboad related covid-19
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-services">
                <span class="lnr lnr-laptop-phone"></span>
                <a>
                  <h4>Text extractor</h4>
                </a>
                <p>
                  copy your texts
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-services">
                <span class="lnr lnr-select"></span>
                <a>
                  <h4>Web Development</h4>
                </a>
                <p>
                  some webpages
                </p>
              </div>
            </div>
          </div>
        </div>
      </section> 

     
      
      <!-- Login or signup -->
        {% else %}
        <div class="login-text-area">
  
        <!-- <a href="{% url 'signup' %}">Sign Up</a> -->
        <h6>You are not logged in, Please 
  
        <a href="{% url 'login' %}" ">Login</a></h6>
      </div>
        {% endif %}


  <!-- start footer Area -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>About This Page</h4>
            <p class="footer-text">
              This website was coded in HTML, CSS, and Javascript. It is hosted on a GitHub server. The code can be
              found <a href="https://github.com/nik463/portfolio" target="_blank"> here.</a>
            </p>
            <p class="footer-text">
              Copyright ©
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This site is created <i
                class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/nik463"
                target="_blank">Nikhil</a>
            </p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Newsletter</h4>
            <p>Stay updated with my latest projects</p>
            <div class="" id="mc_embed_signup">
              <form target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" novalidate="true">
                <div class="input-group">
                  <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address"
                    onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Enter Email Address &#39;"
                    required="">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="lnr lnr-arrow-right"></span>
                    </button>
                  </div>
                  <div class="info"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
          <div class="single-footer-widget">
            <h4>Follow Me</h4>
            <p>Let's be social. </p>
            <div class="footer-social d-flex align-items-center">
              <a href="https://medium.com/@nik463"><i class="fa fa-medium"></i></a>
              <a href="http://www.linkedin.com/in/nikhil-jothiprakash"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/nik463"><i class="fa fa-github"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="{% static '/nik_files/jquery-2.2.4.min.js.download' %}"></script>
  <script src="{% static '/nik_files/popper.min.js.download' %}"></script>
  <script src="{% static '/nik_files/bootstrap.min.js.download' %}"></script>
  <script src="{% static '/nik_files/js' %}"></script>
  <script src="{% static '/nik_files/easing.min.js.download' %}"></script>
  <script src="{% static '/nik_files/hoverIntent.js.download' %}"></script>
  <script src="{% static '/nik_files/superfish.min.js.download' %}"></script>
  <script src="{% static '/nik_files/jquery.ajaxchimp.min.js.download' %}"></script>
  <script src="{% static '/nik_files/jquery.magnific-popup.min.js.download' %}"></script>
  <script src="{% static '/nik_files/jquery.tabs.min.js.download' %}"></script>
  <script src="{% static '/nik_files/jquery.nice-select.min.js.download' %}"></script>
  <script src="{% static '/nik_files/isotope.pkgd.min.js.download' %}"></script>
  <script src="{% static '/nik_files/waypoints.min.js.download' %}"></script>
  <script src="{% static '/nik_files/jquery.counterup.min.js.download' %}"></script>
  <script src="{% static '/nik_files/simple-skillbar.js.download' %}"></script>
  <script src="{% static '/nik_files/owl.carousel.min.js.download' %}"></script>
  <script src="{% static '/nik_files/mail-script.js.download' %}"></script>
  <script src="{% static '/nik_files/scroll.js.download' %}"></script>
  <script src="{% static '/nik_files/main.js.download' %}"></script>


</body>
</html>