{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}


{% block title %} Log in {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}
    
    
       <!-- start banner Area -->
    <section class="about-banner">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Projects
              </h1>
              <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href=""> Projects</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->

  
<div class="log-screen">


  <h2>Login</h2>
  
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td class="bttn"><input class="bttn" type="submit" value="Submit" style="align-items: center;justify-content: center;display: flex;"></td>
        </tr>                
      </table>
    </form>

</div>

  


<!-- start footer Area -->
{% include "includes/footer.html" %}
<!-- End footer Area -->

 <!-- Include script -->
 {% include "includes/scripts.html" %}

{% endblock content %}
