<!DOCTYPE html>
{% load static %}
<html lang="en">
  

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nikhil's Portfolio Website | {% block title %}  {% endblock %}</title>
</head>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">


<link rel="stylesheet" href="{% static '/nik_files/linearicons.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/bootstrap.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/nice-select.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/animate.min.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static '/nik_files/main.css' %}">
<body class="" style="display: block;"><button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>

       
        <div class="main-content">
      
          {% block content %}{% endblock content %}
      
        
      
       
      
        <!-- Specific JS goes HERE --> 
        

        
        
     
       </div>

<script src="{% static '/nik_files/jquery-2.2.4.min.js.download' %}"></script>
<script src="{% static '/nik_files/popper.min.js.download' %}"></script>
<script src="{% static '/nik_files/bootstrap.min.js.download' %}"></script>
<script src="{% static '/nik_files/js' %}"></script>
<script src="{% static '/nik_files/easing.min.js.download' %}"></script>
<script src="{% static '/nik_files/hoverIntent.js.download' %}"></script>
<script src="{% static '/nik_files/superfish.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.ajaxchimp.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.magnific-popup.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.tabs.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.nice-select.min.js.download' %}"></script>
<script src="{% static '/nik_files/isotope.pkgd.min.js.download' %}"></script>
<script src="{% static '/nik_files/waypoints.min.js.download' %}"></script>
<script src="{% static '/nik_files/jquery.counterup.min.js.download' %}"></script>
<script src="{% static '/nik_files/simple-skillbar.js.download' %}"></script>
<script src="{% static '/nik_files/owl.carousel.min.js.download' %}"></script>
<script src="{% static '/nik_files/mail-script.js.download' %}"></script>
<script src="{% static '/nik_files/scroll.js.download' %}"></script>
<script src="{% static '/nik_files/main.js.download' %}"></script>
</body>
    
</html>
      